<% if('github' in user){ %>
  <% if(githubOrgs){ %>
    <% githubOrgs.forEach(function(org){ %>
      <a href="/scan-org/<%=org.login%>">scan <%=org.login%></a>
    <% }) %>
  <% } %>

<% }else{ %>
  <a href="/github/authorize">connect github</a>
<% } %>
