<section class="section3" id="how-it-works">

<div class="container">

	<!-- SECTION HEADING -->

	<h2>How It Works</h2>

	<div class="colored-line">
	</div>

	<div class="features">

		<!-- FEATURES ROW 1 -->
		<div class="row">

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-social-github"></span>
					</div>
					<h4>Connect Your GitHub</h4>
					<p>
						Connect our GitHub app and install our GitHub integration.
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="icon_search"></span>
					</div>
					<h4>Scan Your Repositories</h4>
					<p>
						Run full scans to unveil secret keys that are not supposed to be exposed within your code
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="icon_mail"></span>
					</div>
					<h4>Receive Alerts</h4>
					<p>
						Be always safe. We'll notify you immediately when a secret key is committed to any of your repositories
					</p>
				</div>
			</div>
		</div>

	</div>

</div> <!-- /END CONTAINER -->
</section>


<section class="section7 bgcolor-2" id="testimonials">
<div class="container">
	<!-- SECTION HEADING -->
	<h2>What Our Users Say about Us</h2>
	<div class="colored-line">
	</div>
	<div class="sub-heading">
		They're our users, hear them out.
	</div>
	<!-- TESTIMONIALS -->
	<div class="row testimonials">
		<!-- FEEDBACKS -->
		<div id="feedbacks" class="owl-carousel owl-theme">
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/4413_84908966391_7886552_n.jpg?oh=41e68bf3f8610382fce6f139d380a507&oe=595C95DA" alt="">
				</div>
				<div class="box">
					<p class="message">
						 One of our employees committed our AWS secret key. $6,000 later we found out about it...
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Lior Kanfi
					</div>
					<div class="company">
						Tel Aviv, Israel
					</div>
				</div>
			</div>
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://fb-s-d-a.akamaihd.net/h-ak-xta1/v/t1.0-1/p160x160/1601487_10152686526938662_979952529_n.jpg?oh=a286ed61488f6d32eb1cc27bf82c63b2&oe=58E61147&__gda__=1492223053_0253ece090fb170fc330fce142310309" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Saved my Mailgun secret key in a config file. Got my Mailgun account stolen by someone who used it to send tons of spam.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Oren Solomianik
					</div>
					<div class="company">
						Berlin, Germany
					</div>
				</div>
			</div>
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://fb-s-a-a.akamaihd.net/h-ak-xfp1/v/t1.0-1/c37.0.160.160/p160x160/10522463_10152722080325579_4186166473132392490_n.jpg?oh=902ef1fc9bbf18986237ec37737e3d19&oe=58EE146E&__gda__=1491729402_b8a31c2b86e8afaefac36c9c335b835c" alt="">
				</div>
				<div class="box">
					<p class="message">
						I was so stupid to save my Paypal API credentials in my code. I don't need to tell you what happened later, do I?
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Shahar Solomianik
					</div>
					<div class="company">
						Tel Aviv, Israel
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /END TESTIMONIALS -->
</div>  <!-- /END CONTAINER -->
</section>


<section class="section2" id="faq">
<div class="container">

	<h2>Frequently Asked Questions</h2>
	<div class="colored-line">
	</div>



	<div class="row">

		<div class="col-md-6">

			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">



				<!-- FEATURE LIST -->
				<ul class="feature-list-2">

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_key"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>What do I do with exposed keys that GitMonkey finds?</h6>
						<p>
							You revoke them immediately! Generate another key from your API provider and make sure to keep it safe this time.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_lock"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>My repositories are private. Why do I need GitMonkey?</h6>
						<p>
							Two reasons: 1. private repositories have tendency to become public due to account owners efforts to save money on their GitHub expenses. It’s very easy to turn a private reposiory to public. The thing is that you never know what’s inside when you do it, so you better keep secrets off private repositories as well. 2. Code in private repositories still have wider inter org access than other means of storing keys. Exposed keys can therefore be maliciously used by -- let’s say -- frustrated employees (or ex-employees). You shouldn’t keep the keys exposed in the code.
						</p>
					</div>
					</li>




				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">



				<!-- FEATURE LIST -->
				<ul class="feature-list-2">


					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-merge"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Do you support other git platforms?</h6>
						<p>
							We currently support only GitHub but plan to support Bitbucket and GitLab going forward.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_check"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>How accurate are your scans?</h6>
						<p>
							We match against hundreds of known patterns but we can’t identify secret for positive. When we find a match we mark it for you according to our algorithm severity and the job of validating whether the suspected key is indeed an exposed private key is your responsibility. We may take a leap forward in that direction in the future though.
						</p>
					</div>
					</li>

				</ul>
			</div>
		</div>

	</div> <!-- END ROW -->

</div> <!-- END CONTAINER -->

</section>


<section class="cta-section" id="section8">
<div class="color-overlay">

	<div class="container">

		<h4>Ready to Start Feeling Safer</h4>
		<h2>About Your Code?</h2>
		<div id="cta-4">
			<a href="/google/authorize" class="btn standard-button"><i class="ion-social-github"></i>  Get Started</a>
		</div>



	</div>  <!-- /END CONTAINER -->
</div>  <!-- /END COLOR OVERLAY -->

</section>
