<section class="section3" id="how-it-works">

<div class="container">

	<!-- SECTION HEADING -->

	<h2>How It Works</h2>

	<div class="colored-line">
	</div>

	<div class="features">

		<!-- FEATURES ROW 1 -->
		<div class="row">

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-social-github"></span>
					</div>
					<h4>Connect Your GitHub</h4>
					<p>
						Allow us access to your GitHub account.
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="icon_search"></span>
					</div>
					<h4>Scan Your Account, Organizations or Repositories</h4>
					<p>
						Run full scans to unveil secret keys that are not supposed to be committed into your code
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="icon_mail"></span>
					</div>
					<h4>Setup Alerts</h4>
					<p>
						Be always safe. Setup alerts to notify you immediately when a secret key is committed to any of your repositories
					</p>
				</div>
			</div>
		</div>

	</div>

</div> <!-- /END CONTAINER -->
</section>


<section class="section7 bgcolor-2" id="testimonials">
<div class="container">
	<!-- SECTION HEADING -->
	<h2>What Our Users Say about Us</h2>
	<div class="colored-line">
	</div>
	<div class="sub-heading">
		They're our users, hear them out.
	</div>
	<!-- TESTIMONIALS -->
	<div class="row testimonials">
		<!-- FEEDBACKS -->
		<div id="feedbacks" class="owl-carousel owl-theme">
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="/images/testimonials/robert_leach.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						 One of our employees commited AWS secret key. $6,000 later we found out about it...
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Lior Kanfi
					</div>
					<div class="company">
						Tel Aviv, Israel
					</div>
				</div>
			</div>
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="/images/testimonials/Ben_Phillips.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Saved my Mailgun secret key in a config file. Got my Mailgun account stolen by someone who used it to send tons of spam.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Oren Solomianik
					</div>
					<div class="company">
						Berlin, Germany
					</div>
				</div>
			</div>
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="/images/testimonials/Sean_Richardson.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						I was so stupid to save my Paypal API credentials in my code. I don't need to tell you what happened later, do I?
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Sean Richardson
					</div>
					<div class="company">
						South Carolina, USA
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /END TESTIMONIALS -->
</div>  <!-- /END CONTAINER -->
</section>

<section class="cta-section" id="section8">
<div class="color-overlay">

	<div class="container">

		<h4>Ready to Start Feeling Safer</h4>
		<h2>About Your Code?</h2>
		<div id="cta-4">
			<a href="/google/authorize" class="btn standard-button"><i class="ion-social-github"></i>  Get Started</a>
		</div>



	</div>  <!-- /END CONTAINER -->
</div>  <!-- /END COLOR OVERLAY -->

</section>
