<section class="inner-section">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<!-- <span class="icon-96">
	      			<i class="ion-social-github"></i>
	    		</span>
				 -->
				<h2>Install GitHub Integration</h2>

				<div class="colored-line">
				</div>

				<div class="sub-heading">
					Install the GitMonkey GitHub integration so we can scan your code for hazardous keys
				</div>

				<div>
					<a target="_blank" id="connect-dropbox-button" href="/goto-install-integration" class="btn standard-button inner-button"><i class="ion-social-github sign-in-icon"></i> Install Integration</a>
				</div>

<!-- 				<form class="contact-form" method="POST" action="/configure-issue-tracker">
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="url" placeholder="Service URL" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="token" placeholder="Token" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="project_name" placeholder="Project Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="branch_name" placeholder="Branch Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-12">
						<button id="submit-button" class="btn standard-button" type="submit" data-style="expand-left">Next >></button>
					</div>
				</form>
 -->			</div>
		</div>
	</div>
</section>

<script>
function reloadUser(){
	$.ajax({
		type: 'GET',
		url: '/reload-user',
		success: function(user){
			if('installations' in user.github){
				window.location.href = "/";
			}else{
				setTimeout(function(){
					reloadUser();
				},1000)
			}
		},
	})
}
$(function(){
	reloadUser();
})
</script>
