<section class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 connect-storage-top">

				<h2>Please Sign In to Continue</h2>

				<div class="colored-line">
				</div>


 				<div class="sub-heading">

				</div>

				<div class="button-container">
					<a id="connect-dropbox-button" href="/github/authorize" class="btn standard-button inner-button"><i class="ion-social-github sign-in-icon"></i> Sign In With GitHub</a>
				</div>
		</div>

	</div>
</section>
