<section class="inner-section">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<!-- <span class="icon-96">
	      			<i class="ion-social-github"></i>
	    		</span>
				 -->
				<h2>Terms of Service and Privacy Policy</h2>

				<div class="colored-line">
				</div>

				<div class="sub-heading">
					This will be layout in plain English
				</div>

				<div style="text-align: left;">
					<ul>
					<li style="list-style: disc;">
						GitMonkey mission is to save you from the risk of having exposed secrets and private keys in your code. Our system will scan your code and commits and alert you when we find something suspicous. However, we are not liable for secrets and private keys we fail to detect, nor do we commit to 100% accuracy with suspected strings we do find.
					</li>
					<li style="list-style: disc;">
						We get read access to your code in order to scan it. We will never extract or share or use any piece of your code. We will never use our read access for anything else other than scanning your code for exposed keys.
					</li>
					<li style="list-style: disc;">
						One exception to the paragraph above, actually. We do extract the suspected strings we find so we can share them with you and let you manage them on our end (i.e. approve them, so we don't have to alert you again when we find them in your code). We save those in our secured database. As much as we'd like and though we put a lot of effort into it, we can't 100% commit to the database not ever being breached. You must understand, threfefore, that in a case of a breach to our database, those strings may be exposed. Then again, please bare in mind that if we have those strings on file, it means they're already exposed in your code. So it's not like we're exposing them in the first place. It's your responsibilty to react to the alerts we send you, and to the scan results, and revoke any secret or private key that we do find. If we found it, it means anyone can.
					</li>
					<li style="list-style: disc;">
						We save your github login name and ID and your Gmail display name. We do so so we can approach you appropriately with your name or handle when we need to contact you. We will never use or share them with anyone except you.
					</li>
					<li style="list-style: disc;">
						We collect your email, either from GitHub or Gmail, or directly from you via a form. We will never share your email, nor will we ever spam you. With every email we send you we'll include an option to unsubscribe, either from that specific email type, or from any email whatsoever coming from our system.
					</li>
					<li style="list-style: disc;">
						Once you log in, we use cookies to keep you logged in. So yeah, we use cookies. We merely save your session ID in them.
					</li>
					<li style="list-style: disc;">
						Apologies for not spending on a lawyer to craft some legal blurb here. We rather invest in the product rather than in the lawyer.
					</li>
				</ul>
				</div>

<!-- 				<form class="contact-form" method="POST" action="/configure-issue-tracker">
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="url" placeholder="Service URL" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="token" placeholder="Token" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="project_name" placeholder="Project Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="branch_name" placeholder="Branch Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-12">
						<button id="submit-button" class="btn standard-button" type="submit" data-style="expand-left">Next >></button>
					</div>
				</form>
 -->			</div>
		</div>
	</div>
</section>
