<div class="panel panel-default">
	<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> Daily Report</h6></div>
    <div class="datatable">
      <table class="table">
        <thead>
          <tr>
            <th>repo</th>
            <th>branch</th>
            <th>file</th>
            <th>keys found</th>
          </tr>
        </thead>
        <tbody>
          <% local_scan.matches.forEach(function(match){ %>
            <tr>
              <td><%=match.repo%></td>
              <td><%=match.branch%></td>
              <td><%=match.file%></td>
              <td><%=match.matches[0]%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
